$background-color: hsl(150, 6%, 10%);
$primary-color: hsl(101, 31%, 55%);
$secondary-color: hsl(163, 21%, 73%);
$button-clr: hsl(111, 82%, 47%);

header {
    display: flex;
    height: 100px;
    background-color: $background-color;
    justify-content: space-around;
    align-items: center;
}

h1 {
    margin: 0 0;
    padding-left: 0.5em;
    padding-right: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    background: linear-gradient(to right,
            hsl(101, 31%, 30%) 0,
            hsl(101, 31%, 80%)10%,
            hsl(101, 31%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

@keyframes shine {
    0% {
        background-position: 0;
    }

    60% {
        background-position: 590px;
    }

    100% {
        background-position: 590px;

    }
}

h2 {
    color: $primary-color;
    font-size: 2rem;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: $secondary-color;
    font-size: 1.5rem;
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.nav-ul {
    display: flex;
    position: relative;
    height: 100px;
    align-items: center;
    text-align: center;
}

.nav-li {
    font-family: 'Montserrat', sans-serif;
    color: $primary-color;
    list-style: none;
    padding: 0 2em;
    font-size: 1.5rem;
    border-left: 2px solid hsl(0, 0%, 30%);
    align-items: center;
}

.content-container {
    height: fit-content;
    width: 100%;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    padding-top: 120px;
    padding-bottom: 100px;
}

.portrait {
    align-self: flex-start;
     padding: 1em;
    border-top: 2px solid $primary-color;
    border-left: 2px solid $primary-color;
    margin-left: 10px;
}

.portrait-about-container {
    display: flex;
    justify-content: space-around;
}

.about-me {
    width: 50%;
    height: fit-content;
}

.about-container {
    align-self: center;
}

.wrapper {
    width: 50vw;
    color: $primary-color;
    position: relative;
    overflow: hidden;
}
.wrapper:hover .content-cover {
    right: -100%;

}
.content-cover {
    background-color: $background-color;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: right 0.7s ease;
    display: flex;
    justify-content: center;
    align-items: center;

}

.skills-container    {
    height: fit-content;
    width: 50vw;
    align-self: center;
}

.wrapper:hover .skillset-cover {
    left: -100%;

}

.skillset-cover {
    background-color: $background-color;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.7s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container {
    height: fit-content;
    width: 50vw;
    align-self: center;
}

.projects-cover {
    background-color: $background-color;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transition: right 0.7s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper:hover .projects-cover {
    right: -100%;

}
.cover-button {
    color: $button-clr;
    background-color: $background-color;
    border: 0.4rem solid $button-clr;
    font-size: 2.5rem;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    text-shadow: 
    0 0 0.30em #fff9,
    0 0 0.40em $button-clr;
    box-shadow:
    inset 0 0 0.7em $button-clr,
    0 0 0.7em $button-clr; 

}

.icons {
    color: $primary-color;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.social-media {
    color: $primary-color;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-left: 0.1em solid $primary-color;
    border-radius: 1em;
    padding: 1rem;
}
a {
    text-decoration: none;
    color: $primary-color;
    transition: 300ms;
}

a:hover {
    color: $button-clr;
    transform: scale(1.1);
}

.additional-info {
background-color: $background-color;
color: $primary-color;

}

footer {
    background-color: $background-color;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}
.footer-btns {
}

.mail-btn {
    background-color: $background-color;
    font-size: 1.2rem;
    border-color: $primary-color;
    padding: 0.5em;
    border-radius: 0.5em;
}
.back-to-top {
    background-color: $background-color;
    font-size: 1.2rem;
    border-color: $primary-color;
    padding: 0.5em;
    border-radius: 0.5em;
}